body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f4e3; /* Ivory background */
}

header {
    background: #009688;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile-img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

nav {
    background: #000000; /* Teal background */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

h2 {
    color: #007bff;
}

.job {
    margin-bottom: 15px;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.project-img {
    max-width: 300px;
    border-radius: 8px;
    margin-right: 20px; /* Space between image and text */
}

.project-info {
    max-width: 600px; /* Optional: limit the width of the text */
}


footer {
    text-align: center;
    padding: 10px;
    background: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
